<header class="bg-black p-2">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-center">
			<a href="/" class="text-decoration-none">
				<img src="/img/logo.png" alt="Логотип" width="40" height="40" />
			</a>

			<span class="text-white fw-bold">Oceanic Airlines</span>

			<ul class="nav m-1">
				<li>
					<a href="/" class="nav-link text-white">Главная</a>
				</li>

				<li>
					<a href="/my-bookings" class="nav-link text-white">Мои бронирования</a>
				</li>

				<li>
					<a asp-controller="Page" asp-action="About" class="nav-link text-white">Об Авиакомпании</a>
				</li>

				<li>
					<a asp-controller="Page" asp-action="Contacts" class="nav-link text-white">Контакты</a>
				</li>
			</ul>

			@if (User.Identity?.IsAuthenticated ?? false)
			{
				<div class="text-end">
					<form asp-controller="MyAccount" asp-action="Index" method="get">
						<button class="btn btn-primary"><span class="text-decoration-none text-white">Мой аккаунт</span></button>
					</form>
				</div>
			}
			else
			{
				<div class="text-end">
					<form action="/login" method="get">
						<button class="btn btn-primary m-1"><span class="text-decoration-none text-white">Войти</span></button>
					</form>
				</div>

				<div class="text-end">
					<form action="/register" method="get">
						<button class="btn border border-1 border-primary m-1"><span class="text-decoration-none text-white">Зарегистрироваться</span></button>
					</form>
				</div>
			}
		</div>
	</div>
</header>