<div class="container m-5 bg-white border border-1 border-primary rounded-3">
	<h2 class="display-6 text-center m-5">Об Авиакомпании <img src="/img/logo.png" alt="Логотип" height="64" width="64"/></h2>

	<p class="mx-3">
		Авиакомпания Oceanic Airlines была основана в 2018 году в Екатеринбурге с целью предоставить пассажирам комфортные
		и безопасные полеты как по России, так и за ее пределами. Мы стремимся соединить сердца и города, делая путешествия
		доступными и удобными для каждого. Наша команда профессионалов с большим опытом в авиации работает над тем, чтобы
		каждый рейс оставлял только положительные впечатления.
	</p>

	<p class="mx-3">
		Наш флот состоит исключительно из современных отечественных авиалайнеров, что позволяет нам обеспечивать высокий
		уровень безопасности и надежности. Мы гордимся тем, что поддерживаем отечественного производителя и способствуем
		развитию авиационной отрасли в России. Каждое наше воздушное судно оснащено современными системами навигации и
		комфорта, чтобы путешествие с Oceanic Airlines стало приятным и комфортным.
	</p>

	<p class="mx-3">
		Мы выполняем регулярные рейсы между крупнейшими городами России, а также международные направления, включая
		популярные курорты Таиланда и Турции. Наша маршрутная сеть постоянно расширяется, чтобы предложить пассажирам
		больше возможностей для путешествий и бизнес-поездок. Мы понимаем, как важен каждый момент вашего времени,
		поэтому стремимся делать перелеты быстрыми, удобными и эффективными.
	</p>

	<p class="mx-3">
		В Oceanic Airlines забота о наших пассажирах стоит на первом месте. Мы предлагаем широкий спектр услуг, включая сервис
		на борту, гибкие тарифы и программы лояльности для наших постоянных клиентов. Каждое ваше путешествие с нами — это не
		просто перелет, а возможность открыть новые горизонты, насладиться обслуживанием высокого уровня и оставаться уверенным
		в надежности строгих стандартов, которые мы придерживаемся. С Oceanic Airlines ваш полет станет ярким началом увлекательного
		приключения!
	</p>
</div>