<div class="container m-5 bg-white border border-1 border-primary rounded-3">
	<h2 class="display-6 text-center m-5">Контакты</h2>

	<p class="mx-3">
		На данной странице вы можете посмотреть контактные данные авиакомпании:
	</p>

	<ul>
		<li class="d-flex flex-row">
			<span>Контактный телефон:</span>
			<b class="ms-auto">+7 (343) 000-00-00</b>
		</li>
		<li class="d-flex flex-row">
			<span>Горячая линия:</span>
			<b class="ms-auto">+7 (123) 456-78-90</b>
		</li>
		<li class="d-flex flex-row">
			<span>Адрес электронной почты:</span>
			<b class="ms-auto">nungthesnail@mail.ru</b>
		</li>
		<li class="d-flex flex-row">
			<span>Адрес регистрации компании:</span>
			<b class="ms-auto">123456, Российская Федерация, г. Екатеринбург, ул. Нестерова, 1</b>
		</li>
	</ul>
</div>