<footer class="bg-black footer">
	<div class="container py-5">
		<div class="row justify-content-center">
			<div class="col-3 text-center">
				<img src="/img/logo.png" width="60" height="60" alt="Логотип" />
				<h5 class="text-white">Oceanic Airlines</h5>
			</div>

			<div class="col-3">
				<h5 class="text-white">Навигация:</h5>
				<ul>
					<li>
						<a href="/" class="text-decoration-none text-white">Главная</a>
					</li>

					<li>
						<a href="/my-bookings" class="text-decoration-none text-white">Мои бронирования</a>
					</li>

					<li>
						<a asp-controller="Page" asp-action="About" class="text-decoration-none text-white">Об Авиакомпании</a>
					</li>

					<li>
						<a asp-controller="Page" asp-action="Contacts" class="text-decoration-none text-white">Контакты</a>
					</li>
				</ul>
			</div>

			<div class="col-3">
				<p class="text-white-50">
					Создано при помощи технологий <i>ASP.NET Core MVC</i>, <i>Razor</i>, <i>Entity Framework Core</i>, <i>MySQL</i>, <i>RabbitMQ</i>, <i>Redis</i>, <i>Docker</i>, <i>Bootstrap</i>
				</p>
				<p class="text-white-50">
					&copy; Nungthesnail. <b>nungthesnail@mail.ru</b>
				</p>
			</div>
		</div>
	</div>
</footer>