@model bool; // True - Nothing happens addictional, False - Showing bad data message


<main role="main" class="pb-3">
	<section id="LoginFormSection">
		<form id="LoginForm" asp-controller="Login" asp-action="Login" method="post" class="d-flex justify-content-center">
			<div class="container w-50 bg-white m-5 p-3 rounded-3">
				<h3 class="text-center display-6">Авторизация:</h3>

				<div class="row p-2">
					<div class="col">
						<label class="col-form-label">Имя пользователя:</label>
						<input class="form-control" type="text" name="Username" id="Username" placeholder="Введите имя пользователя..." required />
					</div>
				</div>

				<div class="row p-2">
					<div class="col">
						<label class="col-form-label">Пароль:</label>
						<input class="form-control" type="password" name="Password" id="Password" placeholder="Введите пароль..." required />
					</div>
				</div>

				@if (HaveToShowErrorLabel())
				{
					<div class="row text-danger p-4">Пользователь с указанным именем не найден или пароль введен неверно.</div>
				}

				<div class="row p-2">
					<div class="col">
						<button class="btn btn-primary btn-" id="LoginButton">Войти</button>
					</div>
				</div>
			</div>
		</form>
	</section>
	<!-- Deleted Login ViewComponent -->
</main>

@{
	bool HaveToShowErrorLabel()
	{
		return !Model;
	}
}