<div class="container p-3 my-3 bg-white border border-1 border-primary rounded-3 w-75">
	<h2 class="py-5 bg-white display-6 text-center text-danger">
		Похоже, в данных пассажиров бронирования содержалась какая-то ошибка.
	</h2>

	<p>
		Это может быть ошибка дублирования пассажира. Также пассажир может быть найден в базе данных по номеру документа, но указанные данные отличаются
	</p>
</div>